body {
    margin: 0;
}

p {
    margin-top: 0;
    font-family: sans-serif;
}

button {
    border: solid 0 darkblue;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem grey;

    background-color: rgba(240, 128, 128, 0.6);
    font-weight: bolder;

    padding: 0.4rem;
    cursor: pointer;
}

button:active {
    background-color: rgba(240, 128, 128, 0.9);
    box-shadow: 0.01rem 0.01rem 0.3rem 0.05rem white inset;
}




/* ==========<사이트명>========== */
.header_fixed {
    position: sticky;
    top: 0;
    opacity: 0.95;
    /* backdrop-filter: blur(100px); */

    height: 13rem;
    min-width: 900px;

    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.header_fixed::before {
    content: "";
    background-image: url("https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg");
    background-position-y: center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
}

.headline {
    display: flex;
    /* float: left; */
    /* border: 1px solid blue; */
    color:midnightblue;
    margin-top: 7rem;
    margin-left: 1.5rem;

    cursor: pointer;
}

.HEADIMG {
    float: left;
    border: 0.2rem solid blueviolet;
    border-radius: 20%;
    width: 5rem;
    height: 5rem;
}

.HEADTEXT, .HEADSPACE {
    display: inline-flex;
    /* border: 1px solid black; */

    font-family: sans-serif;
    font-size: 3.75rem;
    font-weight: bold;
    color:midnightblue;
    
    text-decoration: underline 0.2rem;
    text-decoration-color: blueviolet;
}




/* ==========<내비게이션>========== */
nav {
    /* border: 1px solid red; */

    font-family: sans-serif;
    font-size: 1.25rem;
    color: midnightblue;

    text-align: right;
}

.MENUBAR {
    /* border: 1px solid blue; */
    /* display: flex; */
    position: relative;
    justify-content: space-between;
  }

.dropdown_menu {
    display: inline-block;
    /* border: 1px solid black; */

    color: blue;
    font-weight: bolder;

    text-decoration-line: none;

    margin-right: 3rem;
    margin-top: 6.25rem;
    margin-bottom: 1rem;

    cursor: pointer;
}

.dropdown_contents {
    display: none;
    position: absolute;
    z-index: 1;

    background-color: rgb(30, 30, 255);

    margin-top: 0.25rem;
    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.MENUBAR:hover .dropdown_contents {
    display: block;
}

.dropdown_contents a {
    display: block;

    color: whitesmoke;
    font-size: 1rem;

    text-decoration-line: none;

    padding-top: 1rem;
}

#underline-h1 {
    position: absolute;

    width: 0;
    height: 0.25rem;

    background-color: lightcoral;
    transition: 0.5s;
}

#underline-h2 {
    position: absolute;

    width: 0;
    height: 0.2rem;

    background-color: palevioletred;
    transition: 0.2s;
}



/* ==========<검색창>========== */
.SEARCHBAR {
    margin-top: 2rem;
    margin-right: 3rem;
}

.SEARCHIMG {
    float: left;
    border: 0.2rem hidden blueviolet;
    /* border-radius: 20%; */
    width: 1.1rem;
    height: 1.1rem;
}



/* ==========<본문>========== */
main {
    height: auto;
    min-width: 900px;
    /* border: 0.2rem solid black; */
    /* background: lightcyan; */

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

section {
    border: 0.1rem solid red;
}
.section_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: Arial, sans-serif;

    padding-left: 20vw;
    padding-right: 20vw;
}
.section_wrapper label {
    display: inline-block;
    min-width: 6rem;
    text-align: justify;
    letter-spacing: 0;
    
    line-height: 0.5rem;
    /* border: 1px solid black; */
}
.section_wrapper label:before {
    content: "";
    display: inline-block;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.section_wrapper label:after {
    content: "";
    display: inline-block;
    width: 100%;
    border-top: 2px solid black;
}

.section_header, .section_body {
    justify-content: center;
    text-align: left;
}
.section_subhead {
    font-size: 1.6rem;
}
.section_inputs {
    display: flex;
    padding-bottom: 0.5rem;
}
.section_button {
    margin-right: 0.5rem;
}

.section_mapresult {
    display: flex;

    padding-left: 3vw;
    padding-right: 3vw;
}

#section_map {
    height: 640px;
    width: 640px;
}
.section_contents {
    margin-left: 1rem;
}

.section_textresult {
    display: flex;
    font-size: 1.2rem;
    min-height: 2.5rem;

    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.marker_img {
    width: 1.5rem;
    height: 2.5rem;
    padding-right: 0.3rem;
}

.marker_text {
    min-width: 7rem;
    
    line-height: 0.5rem;
}
.marker_text2 {
    min-width: 7rem;
    max-width: 15rem;

    line-height: 0.5rem;

    margin-left: 0.3rem;
}
.marker_text:before, .marker_text2:before {
    content: "";
    display: inline-block;
    width: 100%;
}
.marker_text:after {
    content: "";
    display: inline-block;
    width: 100%;
    border-top: 2px solid black;
}
.marker_text2::after {
    content: "";
    display: inline-block;
    width: 100%;
}



/* ==========<사이트 정보>========== */
footer {
    display: block;
    
    height: auto;
    min-width: 900px;
    background: lightcyan;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* border: 1px solid red; */
   
}

.footer_section {
    position: relative;
    width: 100%;
    /* padding-left: -0.5rem;
    padding-right: -0.5rem; */
}

.footer_divideLine {
    display: inline-block;
    background-color: rgb(3, 23, 55);
    height: 0.1rem;
    width: 100%;

    opacity: 0.3;
}

.footer_copyRight {
    color: rgb(3, 23, 55);
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: bold;

    text-align: center;
}